.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-size: cover; 
  background-position: center;

  /* background-size: contain cover;  */
  /* background-position: center center; */
  /* background-position: center center; */
 

  background-repeat: no-repeat;
  z-index: -1;
}


/* Desktop background image */
.desktop-bg {
  /* background-image: url('/images/Aurius.webp'), url('/images/16.png'); */
  background-image: url('/images/16.png');
}

/* Mobile background image */
.mobile-bg {
  background-image: url('/images/16.png'); /* you can change this to something else if desired */
}
